/* 
FastFood CSS library 
This custom CSS library was created for our group project to enhance code readability
and streamline styling processes in web development. This library
aims to simplify the styling process and offer a set of pre-defined styles for common
web elements.

Designed by: Aakarshan Khosla
*/


/* -----------------------CSS for big-card--------------------- */
.big-card {
    display: flex;
    flex-direction: column;
    gap: 1px;

    width: 400px;
    height: 625px;
}

.card-img, .card-text{
    width: 400px;

    border: 2px solid black;
    border-radius: 10px;
}

.card-img{
    height: 550px;
}

.card-img img{
    border-radius: 4px;
    width: 400px;
    height: 550px;
}

.card-text{
    height: 75px;
    display: flex;
}

.play-audio svg{
    width: 90%;
    height: 90%;
    justify-self: center;
}

.play-audio{
    border: none;
    border-radius: 10px;
    background-color: white;
}

.btn-select{
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 72px;
}

.btn-select:hover, .play-audio:hover{
    background-color: lightgrey;
    cursor: pointer;
}
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/



/* -----------------------CSS for input--------------------- */
.text-input{
    border-radius: 10px;
    border: 4px solid ;
    font-size: 72px;
    width: 50%;
}
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/


/*------------------------CSS for ----------------------*/
