/** The purpose of this CSS file is to style the webpage
* as per the needs of the client.
*/

body{
    background-color: #FEECE2;
}

.form-container{
    box-shadow: rgb(88, 86, 86) 1px 5px 10px 1px; /* Added shadows for style */
    border-radius: 10px; /* Added border radius for style */

    margin-left: auto; /* Centering box */
    margin-right: auto; /* Centering box */

    background-color: rgb(246, 245, 245);

}

#burial-form{
    margin: 20px;
}

.form-row{
    display: flex;
    margin-bottom: 20px; /* Added margins for style */
}

.form-row input {
    margin-top: 10px; /* Added margins for style */
    border-radius: 10px; /* Added border radius for style */
}

label{
    text-align: left;
}

/* Displaying button in the bottom end of the form in the center */
.submit-btn{
    display: flex;
    justify-content: center;
}

.submit-btn button{
    border-radius: 10px; /* Added border radius for style */
    border: 0px;

    margin-top: 20px; /* Added margins for style */
    margin-bottom: 20px; /* Added margins for style */
}


/* CSS for different medias */



/* For PC and Laptops */
@media screen and (min-width:972px){
    .form-container{
        font-size: 50px; /* Preffered font for client */
        width: 70%;
    }

    .form-row input {
        width: 50%;
        font-size: 40px; /* Preffered font for client */
    }

    label{
        width: 35%;
    }

    .submit-btn button{
        font-size: 50px; /* Preffered font for client */
    }
}


/* For Tablets */
@media screen and (max-width:972px){
    .form-container{
        font-size: 45px; /* Preffered font for client */
        width: 80%;
    }
        
    .form-row input {
        width: 50%;
        font-size: 35px; /* Preffered font for client */
    }
    
    label{
        width: 40%;
    }

    .submit-btn button{
        font-size: 35px; /* Preffered font for client */
    }
}


/* For mobile phones */
@media screen and (max-width:530px) {
    .form-container{
        font-size: 35px; /* Preffered font for client */
        width: 100%;
    }
    
    .form-row input {
        font-size: 28px; /* Preffered font for client */
        width: 51%;
        margin-left: 10px;
    }

    label{
        width: 50%;
    }

    .submit-btn button{
        font-size: 30px; /* Preffered font for client */
    }
}