<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Burial</title>

    <!--Link to tailwind CDN-->
    <script src="https://cdn.tailwindcss.com"></script>

    <!--Link to CSS files-->
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <!--Inscription/ Favourite Quote [Aakarshan Khosla]
        This HTML content contains a field where user can 
        enter their inscription.
    -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 text-center mb-5">
        <label class="mr-2" for="inscription">Favourite Quote: </label>
        <input type="text" id="inscription" autocomplete="off" required>
    </div>
</body>
</html>