<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Burial</title>

    <!--Link to tailwind CDN-->
    <script src="https://cdn.tailwindcss.com"></script>

    <!--Link to CSS files-->
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- CDN link to font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="form-box">
        <form action="getBurialInformation()">

            <!--
                This HTML code contains details (text and images)
                regarding burial-methods.
            -->
            <div class="burial-methods">
                
                <div class="heading text-center mb-3">
                    Burial Methods
                </div>

                <div class="layout-burial-methods grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap- lg:grid-cols-2 gap-5 place-items-center">

                    <div class="card border-[2px] border-black flex flex-col rounded-lg">

                        <div class="card-heading flex justify-center text-center p-1">
                            Camp Hill Cemetery 
                        </div>

                        <div class="card-image">
                            <img src="../static/images/location_CampHill.jpg" alt="Nestled within Camp Hill, gravestones stand amidst serene 
                            lawns, offering a peaceful retreat amidst bustling city life.">
                        </div>

                        <div class="card-description flex justify-center text-center p-1">
                            Nestled within Camp Hill, gravestones stand amidst serene lawns, offering a peaceful retreat amidst bustling city life.
                        </div>

                        <div class="card-select flex">
                            <div class="input-radio flex justify-center">
                                <input type="radio" name="burial methods" value="Camp Hill">
                            </div>

                            <button type="button" class="flex justify-center items-center icon hover:bg-[#e9ab78] rounded">
                                <i class="fa-solid fa-microphone text-3xl microphone"></i>
                            </button>
                        </div>

                    </div>

                    <div class="card border-[2px] border-black flex flex-col rounded-lg">

                        <div class="card-heading flex justify-center text-center p-1">
                            Fairview Lawn Cemetery 
                        </div>

                        <div class="card-image">
                            <img src="../static/images/location_FairviewLawn.jpg" alt="Fairview Lawn Cemetery, with its manicured 
                            lawns it provides a serene final resting place.">
                        </div>

                        <div class="card-description flex justify-center text-center p-1">
                            Fairview Lawn Cemetery, with its manicured lawns it provides a serene final resting place. 
                        </div>

                        <div class="card-select flex">
                            <div class="input-radio flex justify-center">
                                <input type="radio" name="burial methods" value="image1">
                            </div>

                            <button type="button" class="icon hover:bg-[#e9ab78] rounded">
                                <i class="fa-solid fa-microphone text-3xl microphone"></i>
                            </button>
                        </div>

                    </div>

                    <div class="card border-[2px] border-black flex flex-col rounded-lg">

                        <div class="card-heading flex justify-center text-center p-1">
                            Mount Hermon Cemetery
                        </div>

                        <div class="card-image">
                            <img src="../static/images/location_MtHermon.jpg" alt="Set against the backdrop of Mount Hermon, this cemetery 
                            offers sweeping views of majestic peaks and verdant valleys.">
                        </div>
                        
                        <div class="card-description flex justify-center text-center p-1">
                            Set against the backdrop of Mount Hermon, this cemetery offers sweeping views of majestic peaks and verdant valleys.
                        </div>
                        <div class="card-select flex">
                            <div class="input-radio flex justify-center">
                                <input type="radio" name="burial methods" value="Mount Hermon">
                            </div>

                            <button type="button" class="icon hover:bg-[#e9ab78] rounded">
                                <i class="fa-solid fa-microphone text-3xl microphone"></i>
                            </button>
                        </div>

                    </div>

                    <div class="card border-[2px] border-black flex flex-col rounded-lg">

                        <div class="card-heading flex justify-center text-center p-1">
                            St. Peter's Cemetery 
                        </div>

                        <div class="card-image">
                            <img src="../static/images/location_StPeters.jpg" alt=" St. Peter's Cemetery boasts a peaceful setting 
                            with a tranquil space for remembrance and reflection.">
                            
                        </div>
                        
                        <div class="card-description flex justify-center text-center p-1">
                            St. Peter's Cemetery boasts a peaceful setting with a tranquil space for remembrance and reflection.
                        </div>
                        <div class="card-select flex">
                            <div class="input-radio flex justify-center">
                                <input type="radio" name="burial methods" value="St Peter's">
                            </div>

                            <button type="button" class="icon hover:bg-[#e9ab78] rounded">
                                <i class="fa-solid fa-microphone text-3xl microphone"></i>
                            </button>
                        </div>

                    </div>

                </div>

            </div>

        </form>
    </div>
</body>