<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Burial</title>

    <!--Link to tailwind CDN-->
    <script src="https://cdn.tailwindcss.com"></script>

    <!--Link to CSS files-->
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- CDN link to font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="form-box rounded mt-3">
        <form action="">
            <div class="general-info grid grid-cols-1 md:grid-cols-2 gap-5 text-center">
                <label for="name">Name</label>
                <input type="text" id="name" autocomplete="off" required>

                <label for="phoneNum">Phone Number</label>
                <input type="number" inputmode="numeric" id="phoneNum" class="appearance-none" required>    
            </div>

            <br>

            <!-- 
                Marker Options [Sadikshya Oli]
                This HTML content contains four cards containing information regardingfor burial options
            -->
            <div class="heading text-center"> Marker Options </div>

            <div class="marker-option flex flex-row justify-center flex-wrap mb-2 p-4 rounded gap-5">
                <!--This card contains wooden memorial cross as marker option -->
                <div class="card m-4 h-[22rem] w-[18rem] border-2 border-black p-1 rounded flex flex-col justify-between">
                    <div class="image">
                        <img class="rounded w-full h-44" src="/Natural Burial/static/images/woodenmemorialcross.jpg"
                            alt="This is a wooden cross used for memorial purposes.">
                    </div>
                    <div class="container flex justify-between items-center">
                        <p class="text-base">
                            This is a wooden cross used for memorial purposes.
                        </p>
                    </div>

                    <div class="radio h-[3rem] flex flex-row justify-evenly items-center">
                        <input type="radio" name="radio-button">
                        <button class="icon hover:bg-[#e9ab78] rounded-full">
                            <i class="fa-solid fa-microphone text-3xl microphone"></i>
                        </button>
                    </div>
                </div>
                <!--This card contains Stone Engraved as marker option -->
                <div class="card h-[22rem] w-[18rem] m-4 border-2 border-black p-1 rounded flex flex-col justify-between">
                    <div>
                        <img class="image rounded w-full h-44" src="/Natural Burial/static/images/stonemarker.jpeg"
                            alt="This is engraved stone marker for natural burial.">
                    </div>
                    <div class="container flex justify-between items-center">
                        <p class="text-base">
                            This is engraved stone marker for natural burial.
                        </p>
                    </div>
                    <div class="radio h-[3rem] flex flex-row justify-evenly items-center">
                        <input type="radio" name="radio-button">
                        <button class="icon hover:bg-[#e9ab78] rounded-full">
                            <i class="fa-solid fa-microphone text-3xl microphone"></i>
                        </button>
                    </div>

                </div>
                <!--This card contains wooden memorial plaque as marker option -->
                <div class="card h-[22rem] w-[18rem] m-4 border-2 border-black p-1 rounded flex flex-col justify-between">
                    <div>
                        <img class="image rounded w-full h-44" src="/Natural Burial/static/images/woodenplaque.jpeg"
                            alt="This is a standing wooden plaque for natural burial.">
                    </div>
                    <div class="container flex justify-between items-center">
                        <p class="text-base">This is a standing wooden plaque for natural burial.
                        </p>
                    </div>

                    <div class="radio h-[3rem] flex flex-row justify-evenly items-center">
                        <input type="radio" name="radio-button">
                        <button class="icon hover:bg-[#e9ab78] rounded-full">
                            <i class="fa-solid fa-microphone text-3xl microphone"></i>
                        </button>
                    </div>

                </div>
                <!--This card contains memorial plaque on tree as marker option -->
                <div class="card h-[22rem] w-[18rem] m-4 border-2 border-black p-1 rounded flex flex-col justify-between">
                    <div>
                        <img class="image w-full h-44 rounded" src="/Natural Burial/static/images/treemarker.jpeg"
                            alt="This is a wooden board pinned at tree for identification.">
                    </div>
                    <div class="container flex justify-between items-center">
                        <p class="text-base">This is a wooden board pinned at tree for identification. </p>
                    </div>

                    <div class="radio h-[3rem] flex flex-row justify-evenly items-center">
                        <input type="radio" name="radio-button">
                        <button class="icon hover:bg-[#e9ab78] rounded-full ">
                            <i class="fa-solid fa-microphone text-3xl microphone"></i>
                        </button>
                    </div>

                </div>
            </div>

            <!--
                This is the grid-container containing header of the grid
                and four different burial methods namely, Tree Pod,
                Shroud,Ecoffins and Casket. [Bhabin Chudal]
        
                Styled using Grid layout.
            -->
            <div class="burial-options grid grid-cols-2 place-items-center gap-5 ">
                <!-- Heading for the over-all grid container -->
                <div class="grid-caption col-span-2 text-center ">Burial Methods</div>
                <!--
                    Tree pod burial option containing heading,image, radio and microphone button
                -->
                <div class="burial-option text-center rounded-lg">

                    <div class="heading">Tree Pod</div>

                    <hr>

                    <div class="image w-full p-4 rounded-lg">
                        <img src="../static/images/treepod.webp" alt="biodegradable burial method that converts body into tree"
                        class="h-full w-full rounded-lg">
                    </div>

                    <div class="radio flex items-center justify-evenly pl-4">
                        <input type="radio"  name="burial-option-selected">

                        <button class="hover:bg-[#c3c3c3] w-16 rounded">
                            <i class="fa-solid fa-microphone microphone"></i>
                        </button>
                    </div>
                </div>
                <!--
                    Shroud burial option containing heading,image,radio and microphone button
                -->
                <div class="burial-option text-center rounded-lg">
                    <div class="heading">Shroud</div>
                    
                    <hr>

                    <div class="image w-full p-4 rounded-lg">
                        <img src="../static/images/shroud.jpeg" alt="burial method where body is wrapped by clothes"
                        class="h-full w-full rounded-lg">
                    </div>
                    <div class="radio flex items-center justify-evenly pl-4">
                        <input type="radio"  name="burial-option-selected">

                        <button class="hover:bg-[#c3c3c3] w-16 rounded">
                            <i class="fa-solid fa-microphone microphone"></i>
                        </button>
                    </div>
                </div>

                <!--
                    Ecoffins burial option containing heading,image,radio and microphone button
                -->
                <div class="burial-option text-center rounded-lg">
                    <div class="heading">Ecoffins</div>

                    <hr>
                    <div class="image p-4 rounded-lg">
                        <img src="../static/images/Ecoffins.jpeg" alt="burial method where body is wrapped by clothes"
                        class="h-full w-full rounded-lg">
                    </div>
                    <div class="radio flex items-center justify-evenly pl-4">
                        <input type="radio"  name="burial-option-selected">

                        <button class="hover:bg-[#c3c3c3] w-16 rounded">
                            <i class="fa-solid fa-microphone microphone"></i>
                        </button>
                    </div>
                </div>

                <!--
                    Casket burial option containing heading,image,radio and microphone button.
                -->
                <div class="burial-option text-center rounded-lg">
                    <div class="heading">Casket</div>

                    <hr>
                    <div class="image p-4 rounded-lg">
                        <img src="../static/images/casket.jpeg" alt="burial method where body is wrapped by clothes"
                        class="h-full w-full rounded-lg">
                    </div>
                    <div class="radio flex items-center justify-evenly pl-4">
                        <input type="radio"  name="burial-option-selected">

                        <button class="hover:bg-[#c3c3c3] w-16 rounded">
                            <i class="fa-solid fa-microphone microphone"></i>
                        </button>
                    </div>
                </div>
            </div>

            <br>
            
            <!-- 
                Grave Location [Aarav Sen Mehta]
                This HTML content contains details about
                grave site location
            -->
            <div class="grave-location flex flex-col">

                <!-- grave location 1 -->
                <div class="card flex flex-row rounded">
                    <!-- Cemetery Image -->
                    <div class="pic rounded-l-lg">
                        <img class="rounded-l-lg" src="../static/images/location_CampHill.jpg" alt="flat marker">
                    </div>

                    <!-- Description -->
                    <div class="desc border-l-8 border-white-500 flex flex-col p-1 ">
                        
                        <!-- Cemetery Name -->
                        <div class="heading text-center">
                            Camp Hill Cemetery
                        </div>

                        <!-- Sub-text flex flex-col justify-center gap-3 -->
                        <div class="sub-text flex flex-col justify-center gap-3">

                                <!-- Location -->
                                <li>
                                    <strong>Location:</strong> 1600 Summer St, Halifax, NS B3H 3A6
                                </li>

                                <!-- Social Phone Number -->
                                <li><strong> Phone Number:</strong> <a href="tel:1234567890"
                                        class="text-black-500 hover:text-blue-700">123-456-7890</a>
                                </li>
                        </div>

                        <!-- Interactive Section -->
                        <div class="interactive-section flex justify-evenly">

                            <!-- Voice Button -->
                            <div class="voice-button">
                                <button type="button" class="btn btn-primary ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="currentFill"
                                        class="bi bi-mic-fill " viewBox="0 0 16 16">
                                        <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z" />
                                        <path
                                            d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                    </i>
                                </button>
                            </div>

                            <!-- Radio -->
                            <div class="radio">
                                <input type="radio" class="options" name="options" value="flat marker" required>
                            </div>

                        </div>

                    </div>

                </div>

                <br>
                <!-- grave location 2-->
                <div class="card flex flex-row rounded">

                    <!-- Cemetery Image -->
                    <div class="pic rounded-l-lg">
                        <img class="rounded-l-lg" src="../static/images/location_FairviewLawn.jpg" alt="flat marker">
                    </div>

                    <!-- Description -->
                    <div class="desc border-l-8 border-white-500 flex flex-col p-1 ">

                        <!-- Cemetery Name -->
                        <div class="heading text-center">
                            Fairview Lawn Cemetery
                        </div>

                        <!-- Sub-text flex flex-col justify-center gap-3 -->
                        <div class="sub-text flex flex-col justify-center gap-3 ">
                            <li>

                                <!-- Location -->
                                <strong>Location:</strong> 3720 Windsor St, Halifax, NS
                            </li>

                            <!-- Social Phone Number -->
                            <li>
                                <strong> Phone Number:</strong>
                                <a href="tel:1234567890" class="text-black-500 hover:text-blue-700">123-456-7890</a>
                            </li>
                        </div>

                        <div class="interactive-section flex justify-evenly">

                            <!-- Voice Button -->
                            <div class="voice-button ">
                                <button type="button" class="btn btn-primary ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="currentFill"
                                        class="bi bi-mic-fill " viewBox="0 0 16 16">
                                        <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z" />
                                        <path
                                            d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                    </i>
                                </button>
                            </div>

                            <!-- Radio -->
                            <div class="radio text-center ">
                                <input type="radio" class="options" name="options" value="flat marker" required>
                            </div>

                        </div>

                    </div>

                </div>

                <br>

                <!-- grave location 3 -->
                <div class="card flex flex-row rounded">
                    
                    <!-- Cemetery Image -->
                    <div class="pic rounded-l-lg">
                        <img class="rounded-l-lg" src="../static/images/location_MtHermon.jpg" alt="flat marker">
                    </div>

                    <!-- Description -->
                    <div class="desc border-l-8 border-white-500 flex flex-col p-1 ">
                        
                        <!-- Cemetery Name -->
                        <div class="heading text-center">
                            Mount Hermon Cemetery
                        </div>

                        <!-- Sub-text flex flex-col justify-center gap-3 -->
                        <div class="sub-text flex flex-col justify-center gap-3">
                            <li><strong>Location:</strong> 
                                1801 Chem. Saint-Louis, Québec, QC G1S 1H6
                            </li>
                            <li><strong> Phone Number:</strong> <a href="tel:1234567890"
                                    class="text-black-500 hover:text-blue-700">123-456-7890</a>
                            </li>
                        </div>

                        <!-- Interactive Section -->
                        <div class="interactive-section flex justify-evenly">

                            <!-- Voice Button -->
                            <div class="voice-button button-black-500 hover:button-blue-700">
                                <button type="button" class="btn btn-primary ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="currentFill"
                                        class="bi bi-mic-fill " viewBox="0 0 16 16">
                                        <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z" />
                                        <path
                                            d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                    </i></button>
                            </div>

                            <!-- Radio -->
                            <div class="radio text-center ">
                                <input type="radio" class="options" name="options" value="flat marker" required>
                            </div>

                        </div>

                    </div>

                </div>

                <br>
                
                <!-- grave location 4 -->
                <div class="card flex flex-row rounded">

                    <!-- Cemetery Image -->
                    <div class="pic rounded-l-lg">
                        <img class="rounded-l-lg" src="../static/images/location_StPeters.jpg" alt="flat marker">
                    </div>

                    <!-- Description -->
                    <div class="desc border-l-8 border-white-500 flex flex-col p-1 ">
                        
                        <!-- Cemetery Name -->
                        <div class="heading text-center">
                            Saint Peter’s Cemetery
                        </div>

                        <!-- Sub-text flex flex-col justify-center gap-3 -->
                        <div class="sub-text flex flex-col justify-center gap-3">

                            <!-- Location -->
                            <li><strong>Location:</strong> Murphy Cove, NS B0J 3H0</li>
                            
                            <!-- Social Phone Number -->
                            <li><strong> Phone Number:</strong> <a href="tel:1234567890"
                                    class="text-black-500 hover:text-blue-700">123-456-7890</a>
                            </li>
                        </div>

                        <!-- Interactive Section -->
                        <div class="interactive-section flex justify-evenly">

                            <!-- Voice Button -->
                            <div class="voice-button ">
                                <button type="button" class="btn btn-primary ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentFill"
                                        class="bi bi-mic-fill " viewBox="0 0 16 16">
                                        <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z" />
                                        <path
                                            d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                    </i></button>
                            </div>

                            <!-- Radio -->
                            <div class="radio text-center ">
                                <input type="radio" class="options" name="options" value="flat marker" required>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <br>

            <!--
                Inscription/Favourite Quote [Aakarshan Khosla]
                This HTML content contains a field where user can 
                enter their inscription.
            -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5 text-center mb-5">
                <label class="mr-2" for="inscription">Favourite Quote: </label>
                <input type="text" id="inscription" autocomplete="off" required>
            </div>
        </form>
    </div>

</body>