<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Burial</title>

    <!--Link to CSS files-->
    <link rel="stylesheet" href="../FastFood/FastFood.css">
    <link rel="stylesheet" href="../static/css/phase1.css">
</head>
<body>
    <div class="form-box">
        <form action="">
            <div class="form-row">
                <label for="name">Name</label>
                <input class="text-input" type="text" id="name" autocomplete="off">
            </div>

            <div class="form-row">
                <label for="phoneNum">Phone Number</label>
                <input class="text-input" type="number" id="phoneNum" autocomplete="off">
            </div>

            <div class="form-row-dropdown">
                <label for="dropdown">Burial Container</label>
                <div class="dropdown" id="dropdown">
                    <button type="button" class="toggle-btn" id="toggle-btn">
                        Select Container
                    </button>
                    <div class="dropdown-options" id="dropdown-options">
                        <div class="option" data-value="casket">Casket</div>
                        <div class="option" data-value="cremation urn">Cremation Urn</div>
                        <div class="option" data-value="burial shroud">Burial Shroud</div>
                        <div class="option" data-value="vault">Vault</div>
                    </div>
                </div>
            </div>

            <div class="form-row-images">
                <div class="heading">Marker Options</div>

                <div class="big-card">
                    <div class="card-img"> 
                        <img src="../static/images/flat marker.jpg" alt="flat marker">
                    </div>

                    <div class="card-text">
                        <button type="button" class="btn-select">SELECT</button>
                        <button type="button" class="play-audio">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
                                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                              </svg>
                        </button>
                    </div>
                </div>

                <div class="big-card">
                    <div class="card-img"> 
                        <img src="../static/images/natural marker.jpg" alt="natural marker">
                    </div>

                    <div class="card-text">
                        <button type="button" class="btn-select">SELECT</button>
                        <button type="button" class="play-audio">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
                                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                              </svg>
                        </button>
                    </div>
                </div>

                <div class="big-card">
                    <div class="card-img"> 
                        <img src="../static/images/tree marker.jpg" alt="tree marker">
                    </div>

                    <div class="card-text">
                        <button type="button" class="btn-select">SELECT</button>
                        <button type="button" class="play-audio">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
                                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                              </svg>
                        </button>
                    </div>
                </div>

                <div class="big-card">
                    <div class="card-img"> 
                        <img src="../static/images/upright monument.jpg" alt="upright monument">
                    </div>

                    <div class="card-text">
                        <button type="button" class="btn-select">SELECT</button>
                        <button type="button" class="play-audio">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
                                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                              </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="submit-form">
                <button class="submit-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>


    <!--Link to JavaScript files-->
    <script src="../FastFood/FastFood.js"></script>
</body>
</html>