html {
    font-size: 16px;
}


/* CSS by Sadikshya Oli */

/* WRITE CSS HERE [AND DELETE THIS COMMENT] */

.marker-options .heading {
    font-size: 4rem;
}

.marker-options .card {
    width: 35rem;
    height: 45rem;
}

.marker-options .card {
    .card-image {
        height: 70%;
    }

    .card-text {
        height: 20%;
        font-size: 2.5rem;
    }

    .card-select {
        height: 10%;
    }
}

.marker-options .card .card-image img {
    width: 100%;
    height: 100%;
}

.marker-options .card-select {
    input[type="radio"] {
        height: 100%;
        width: 50%;
    }

    button {
        width: 50%;
        height: 100%;

        i {
            font-size: 60px;
        }
    }
}