* {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
CSS by Sadikshya Oli
This CSS defines the stly for marker options
*/

/* Style for icons */
.icon {
    width: 2rem;
    line-height: 1rem;
}

.text-base{
    font-size: 1.5rem!important;
}

/* Style for radio buttons within elements with class 'radio' */
.radio input[type="radio"] {
    height: 80%;
    width: 2rem;
}