/*
    The purpose of this css file is to style the components
    of the form, keeping in mind the preferences of our client
*/

*{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
    CSS by Aakarshan Khosla
    This CSS defines the style for favourite quote/ inscription
*/

input{
    border: 2px solid blue; /* Visible border */
    border-radius: 4px;
}